@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
    themes: corporate;
}

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Noto Sans KR", "Inter", ui-sans-serif, system-ui, sans-serif;
}

/* Reduce spacing for list items in typography prose */
.prose :where(li) {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.prose :where(ul),
.prose :where(ol) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}