---
import Layout from "../layouts/Layout.astro";
import KakaoMap from "../components/KakaoMap.astro";
import companyInfo from "../data/company_info.yaml";
---

<Layout title="제이원텍(주) | 회사 소개" description="제이원텍(주) 회사 소개">
  <div class="container mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold max-w-xl mx-auto text-left mb-8">
      울산의 방어시스템<br />제이원텍(주)을 만나다.
    </h1>

    <div class="prose max-w-none mb-16">
      <h2 class="max-w-xl mx-auto text-left">CEO's Message</h2>
      <p
        class="whitespace-normal text-justify max-w-xl mx-auto leading-normal break-keep"
      >
        삼성에서 다져진 현장 실무 능력을 기반으로 365일 1초도 놓치지 않는 완벽
        방어 시스템을 구축하여 안전한 산업 환경을 만드는 것이 저의 목표입니다.<br
        /><br />

        고퀄리티 품질을 추구하는 기업으로 완벽한 매칭을 통해 신뢰 있는 성능을
        만들어내고자 노력하고 있습니다.<br /><br />

        저희가 성장하는 동안 함께 해온 파트너와 고객에게 깊이 감사드리며,
        급변하는 산업 환경 속에서도 지속적으로 연결되고 소통하면서 공동의 성공을
        위해 성장해 나갈 것입니다.<br /><br />

        제이원텍(주) 대표이사 박장원
      </p>
    </div>

    <div class="divider"></div>

    <section class="py-8">
      <h2 class="text-2xl font-bold text-center mb-8">오시는 길</h2>
      <p class="text-center mb-8 text-gray-600">
        주소: {companyInfo.address}<br />
        전화: {companyInfo.tel}
      </p>
      <div class="flex justify-center">
        <KakaoMap />
      </div>
    </section>
  </div>
</Layout>
